<p id="notice"><%= notice %></p>

<h3><%= @article.title %></h3>

<p><%= simple_format @article.body %></p>

<p><strong>Author: <%= @article.user.name %> </strong></p>

<hr/>

<h3>Comments</h3>

<% @article.comments.where(:reply_id => nil).each_with_index do |comment, index| %>
    <p>
      <%= index + 1 %>. <%= comment.description%> ---- by <strong><%= comment.user.name %> </strong>
      <%= link_to 'Delete', delete_comment_path(comment) ,method: :delete, data: { confirm: 'Are you sure?' } if comment.user_id == current_user.id && comment.replies.blank? %>
    </p>

    <%= link_to 'Reply', '#', :onclick => "show_reply_box(#{comment.id})" %>

    <div class="reply_box" id="reply_box_<%= comment.id %>" >
      <%= form_tag(create_reply_path(:article_id => @article.id, :reply_id => comment.id)) do %>
          <%= text_area_tag :description,'', :rows => 4, :cols =>30 %>
          <%= submit_tag 'Reply' %>
      <% end %>
    </div>

    <div style="margin-left:50px;">
        <% comment.replies.each do |reply| %>
            <p>
              <%= reply.description %> ---- by <strong><%= reply.user.name %> </strong>
              <%= link_to 'Delete', delete_comment_path(reply) ,method: :delete, data: { confirm: 'Are you sure?' } if reply.user_id == current_user.id  %>
            </p>
        <% end %>
    </div>

<% end %>
<hr/>

<%= form_tag(create_comments_path(:article_id => @article.id)) do %>
    <%= text_area_tag :description,'', :rows => 6, :cols =>40  %>
    <%= submit_tag 'Comment' %>
<% end %>

<%= link_to 'Back', articles_path %>

<script>
  function show_reply_box(comment_id){
      $("#reply_box_"+comment_id).show();
  }
</script>
