<!DOCTYPE html>
<html>
<head>
  <title>Magazine</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Home", root_path %>

<% if user_signed_in? %>
    <div class="align_right">
      Hi <%= current_user.name %>
      <%= link_to "Logout",destroy_user_session_path, :method => :delete %>
    </div> <hr/>
<% end %>

<%= yield %>

</body>
</html>
